// Setting explicity height on this so that the dialog won't scroll.
.recaptcha {
  border: 1px solid transparent;
  
  &.fix-height {
    height: 146px;
  }

  &.required {
    border: 1px solid red;
  }
}